{% extends 'base.html' %}


{% block title %}All Tags{% endblock %}

{% block body %}

<h1>{{tag.name}}</h1>
    <ul>
        {% for post in tag.posts %}
        <li><a href='/posts/{{post.id}}'>{{post.title}}</a></li>
        {% endfor %}
    </ul>    

<form>
    <button formaction='/tags/{{tag.id}}/edit' formmethod='GET'>Edit</button>
    <button formaction='/tags/{{tag.id}}/delete' formmethod='POST'>Delete</button>
    <br>
    <button formaction='/tags' formmethod='GET'>All Tags</button>
    
</form> 
<br>


{% endblock %}