{% extends 'base.html' %}

{% block title %}New Post Form{% endblock %}

{% block body %}
<h1>Edit '{{post.title}}'</h1>
    <form method='POST'>
        <div>
            <label for='title'>Title</label>
            <input type='text' name='title' max='30' min='1' value='{{post.title}}'>
        </div>
        <br>
        <div>
            <label for='content'>Content</label>
            <input type='text' name='content' min='1' size = 100 value='{{post.content}}''>
        </div>
        <br>
        <div>
            <p><b>Tags:</b></p>
            {% for tag in tags %}
            <input type='checkbox' name='tags' value='{{tag.id}}'>
            <label for='{{tag.id}}'>{{tag.name}}</label>
            <br>
            
            {% endfor %}
        </div>
        <br>
        <a href='/users/{{post.user.id}}'><button type='submit'>Cancel</button></a>
        <a href='/posts/{{post.id}}/edit'><button type='submit'>Save</button></a>
    </form>

    
{% endblock %}