{% extends 'base.html' %}


{% block title %}User Details{% endblock %}

{% block body %}
<h1>{{user.first_name}} {{user.last_name}}</h1>
<img src={{user.img_url}}>
<br>

<div>
<form>
    <button formaction="/users/{{ user.id }}/edit"
            formmethod="GET">Edit
    </button>
    <button formaction="/users/{{ user.id }}/delete"
            formmethod="POST">Delete
    </button>
  </form>
</div>
<br>
<h2>Posts</h2>
	<ul>
		{% for post in user.posts %}
                <li><a href="/posts/{{post.id}}">{{post.title}}</a>
                <small>on {{post.friendly_date}}</small></li>
                
		{% endfor %}
        </ul>


<button><a href='/users/{{user.id}}/posts/new'>Add Post</a></button>

<button><a href='/'>All Users</a></button>
{% endblock %}